{% extends "homepage/index.html"%}
{% block title %}{{product.title}}{% endblock %}
{% block content %}
{% for product in Product %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <div class="container-fluid">
            <h4>{{product.category}}<a href="{% url 'product_detail' product.id %}">{{product.title}}</a></h4>
            <h5>Price: {{product.price}}</h5>
            <h5>Description: {{product.description}}</h5>
            <h5>Active: {{product.active}}</h5>
        </div>
    </div>
</div>
{% endfor %}
<br/>
{% if page_obj.has_next %}
<a href="{{request.path}}?page={{page_obj.next_page_number}}">Trang tiếp</a>
{% endif %}
{% endblock %}
