{% extends "homepage/index.html"%}
{% block title %}Search{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <div class="container-fluid">
            <div>
                {% if messages %}
                <ul class="messages">
                    {% for k in messages %}
                    <li>{{k}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div>
                {% if sr %}
                {% for product in sr %}
                    <h3>{{product.category}}<a href="{% url 'product_detail' product.id %}">{{product.title}}</a></h3>
                    <h5>Price: {{product.price}}</h5>
                    <h5>Description: {{product.description}}</h5>
                    <h5>Active: {{product.active}}</h5>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<br/>
{% if page_obj.has_next %}
<a href="{{request.path}}?page={{page_obj.next_page_number}}">Trang tiếp</a>
{% endif %}
{% endblock %}
